<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Demo app</title>
</head>
<body>
    <div class="container">
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/submit" method="POST">
            <input type="text" name="first_name" placeholder="First Name"/>
            <input type="text" name="last_name" placeholder="Last name" />
            <input type="text" name="email" placeholder="Email address" /> 
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>